.button {
  display: block;
  width: 100%;
  padding: 6px 24px;
  background: #397DF6;
  color: #fff;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  border-radius: 2px;
  transition: 0.2s;

  &:hover {
    background: #73A5FF;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  &.secondary {
    background: #fff;
    color: #000000;
  }

  &.outlined {
    background: transparent;
    border: 1px solid #397DF6;
    color: #397DF6;
  }

  &.outlined:hover {
    background: #397DF6;
    color: #fff;
  }

  &.secondary.outlined {
    border: 1px solid #fff;
    color: #fff;
  }

  &.secondary.outlined:hover {
    background: #fff;
    color: #397DF6;
  }
}