@import "assets/styles/variables";

.about {
  position: relative;
  min-height: 100vh;
  z-index: 1;

  .stringForBg {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #0C111A;
    margin-left: auto;
    z-index: -1;

    @media (max-width: 1020px) {
      position: relative;
      width: 100%;
      min-height: auto;
      height: 500px;
      margin: 0;
    }

    @media (max-width: 550px) {
      height: 380px;
    }

    @media (max-width: 420px) {
      height: 320px;
    }

    p {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      font-size: 12px;
      line-height: 8px;
      letter-spacing: -0.8px;
      font-weight: 900;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: auto 90%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0.05);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      @media (max-width: 1300px) {
        background-size: auto 80%;
      }

      @media (max-width: 1020px) {
        height: 500px;
        background-position: 15% bottom;
        background-size: auto 100%;
        font-size: 13px;
      }

      @media (max-width: 900px) {
        font-size: 12px;
      }

      @media (max-width: 900px) {
        background-position: 50% bottom;
      }

      @media (max-width: 550px) {
        height: 380px;
        font-size: 11px;
      }

      @media (max-width: 420px) {
        height: 320px;
        font-size: 10px;
        line-height: 7px;
      }

      .strBg {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .info {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
    min-height: 100vh;
    padding: 80px 85px;
    overflow: hidden;
    background-image: linear-gradient(to right, #0D1014 0%, #040506 100%);
    z-index: 1;

    @media (max-width: 1300px) {
      padding: 60px 50px;
    }

    @media (max-width: 1020px) {
      width: 100%;
      padding: 0 50px 50px 50px;
    }

    @media (max-width: 700px) {
      padding-top: 15px;
    }

    @media (max-width: 500px) {
      padding: 15px 35px 40px 35px;
    }

    .bgBlur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      z-index: -1;
    }

    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .linesBg {
      position: absolute;
      top: -60px;
      right: -40%;
      z-index: -1;

      @media (max-width: 1020px) {
        top: 150px;
        right: -35%;
      }

      @media (max-width: 700px) {
        top: 180px;
        right: -50%;
      }

      @media (max-width: 600px) {
        top: 240px;
        right: -65%;
      }

      img {
        max-width: 700px;
        height: auto;
        opacity: 0.4;

        @media (max-width: 1020px) {
          opacity: 0.35;
        }
      }
    }

    .linesBgBottom {
      top: auto;
      bottom: -50px;
      right: auto;
      left: -40%;
      transform: rotate(180deg);

      @media (max-width: 700px) {
        left: -50%;
      }

      @media (max-width: 550px) {
        left: -65%;
      }

      @media (max-width: 420px) {
        left: -100%;
      }
    }

    h1 {
      color: #fff;
      font-family: var(--font-baron-neue);
      font-size: 55px;
      line-height: 1;
      background-image: linear-gradient(120deg, #EAB2F3 0%, #f5576c 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 55px;

      span {
        font-family: var(--font-montserrat);
        font-size: 22px;

        @media (max-width: 420px) {
          font-size: 19px;
        }
      }

      @media (max-width: 700px) {
        font-size: 50px;
      }

      @media (max-width: 420px) {
        font-size: 42px;
      }
    }

    p.subtitle {
      color: #fff;
      font-size: 24px;

      @media (max-width: 700px) {
        font-size: 22px;
      }
    }

    p {
      color: #fff;
      font-size: 18px;
      margin-bottom: 15px;

      @media (max-width: 700px) {
        font-size: 16px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 10px;
      row-gap: 28px;
      margin-bottom: 50px;

      @media (max-width: 550px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 440px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .skill {
        text-align: center;
        font-size: 17px;
        color: #fff;

        @media (max-width: 700px) {
          font-size: 16px;
        }

        svg {
          margin-bottom: 15px;
        }
      }
    }
  }
}

